.body-image-1 {
    background-image: url("./hudson_yards.jpg");
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.body-image-2 {
    background-image: url("./rockefeller_center.jpg");
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}